.deal_list{
  margin-top:0.2rem;
  flex-wrap: wrap;
}
.deal{ //产品分类
  @media (min-width:1400px){
    .pro_item {
      width:2rem;
      &:nth-child(8n){
        margin-right:0!important;
      }
      .item_img{
        width:1.7rem;height:1.7rem;
      }
    }
    .show_pc{
      display: block;
    }
    .show_mobile{
      display: none;
    }
  }
  @media (max-width:1400px)and (min-width:1100px){
    .pro_item {
      width:15.4%;
      &:nth-child(6n){
        margin-right:0!important;
      }
      .item_img{
        width:2.5rem;height:2.5rem;
      }
    }
    .show_pc{
      display: block!important;
    }
    .show_mobile{
      display: none!important;
    }
  }
  @media (max-width:1100px)and (min-width:900px){
    .pro_item {
      width:18.7%;
      &:nth-child(5n){
        margin-right:0!important;
      }
      .item_img{
        width:3rem;height:3rem;
      }
    }
    .show_pc{
      display: block!important;
    }
    .show_mobile{
      display: none!important;
    }
  }
  @media (max-width:900px)and (min-width:700px){
    .pro_item {
      width:23.6%;
      &:nth-child(4n){
        margin-right:0!important;
      }
      .item_img{
        width:3.8rem;height:3.8rem;
      }
    }
    .show_pc{
      display: block!important;
    }
    .show_mobile{
      display: none!important;
    }
  }
  @media (max-width:700px) and (min-width:500px){
    .pro_item {
      width:32%;
      &:nth-child(3n){
        margin-right:0!important;
      }
      .item_img{
        width:5rem;height:5rem;
      }
    }
    .show_pc{
      display: none!important;
    }
    .show_mobile{
      display: block!important;
    }
  }
  @media (max-width:500px){
    .show_pc{
      display: none!important;
    }
    .show_mobile{
      display: block!important;
    }
    .pro_item {
      width:48%;
      &:nth-child(2n){
        margin-right:0!important;
      }
      .item_img{
        width:8rem;height:8rem;
      }
    }
  }
}
.favoite{ //个人中心我的最爱
  @media (min-width:1400px){
    .pro_item {
      width:18.28%;
      &:nth-child(5n){
        margin-right:0!important;
      }
      .item_img{
        width:2rem;height:2rem;
      }
    }
  }
  @media (max-width:1400px)and (min-width:1000px){
    .pro_item {
      width:23.28%;
      &:nth-child(4n){
        margin-right:0!important;
      }
      .item_img{
        width:2.5rem;height:2.5rem;
      }
    }
  }
  @media (max-width:1000px)and (min-width:700px){
    .pro_item {
      width:31.8%;
      &:nth-child(3n){
        margin-right:0!important;
      }
      .item_img{
        width:3.5rem;height:3.5rem;
      }
    }
  }
  @media (max-width:700px)and (min-width:500px){
    .pro_item {
      width:48%;
      &:nth-child(2n){
        margin-right:0!important;
      }
      .item_img{
        width:5rem;height:5rem;
      }
    }
  }
  
  @media (max-width:500px){
    .pro_item {
      width:48%;
      &:nth-child(2n){
        margin-right:0!important;
      }
      .item_img{
        width:5rem;height:5rem;
      }
    }
    .clear_btn{
      height:1rem!important;line-height: 1rem!important;
    }
  }
}
.detail{ //产品详情
  @media (min-width:1400px){
    .pro_item {
      width:14.93%;
      &:nth-child(6n){
        margin-right:0!important;
      }
      .item_img{
        width:1.8rem;height:1.8rem;
      }
    }
  }
  @media (max-width:1400px)and (min-width:1000px){
    .pro_item {
      width:18.35%;
      &:nth-child(5n){
        margin-right:0!important;
      }
      .item_img{
        width:2rem;height:2rem;
      }
    }
    
  }
  @media (max-width:1000px)and (min-width:800px){
    .pro_item {
      width:23.38%;
      &:nth-child(4n){
        margin-right:0!important;
      }
      .item_img{
        width:2.8rem;height:2.8rem;
      }
    }
    .detail_head{
      flex-direction: column;
      align-items: center;
    }
    .get_cou,.detail_about,.open_ama{
      margin:0.15rem 0;
    }
    .comments{
      width:100%!important;
    }
  }
  @media (max-width:800px)and (min-width:600px){
    .pro_item {
      width:31.68%;
      &:nth-child(3n){
        margin-right:0!important;
      }
      .item_img{
        width:3.6rem;height:3.6rem;
      }
    }
    .comments{
      width:100%!important;
    }
    .detail_head{
      flex-direction: column;
      align-items: center;
    }
    .get_cou,.detail_about,.open_ama{
      margin:0.15rem 0;
    }
  }
  
  @media (max-width:600px){
    .pro_item {
      width:48.5%;
      &:nth-child(2n){
        margin-right:0!important;
      }
      .item_img{
        width:5.8rem;height:5.8rem;
      }
    }
    .detail_head{
      flex-direction: column;
      align-items: center;
    }
    .get_cou,.detail_about,.open_ama{
      margin:0.15rem 0;
    }
    .detail_new_left{
      width:60%!important;
      align-items: center;
    }
    .comments{
      width:100%!important;
    }
  }
}
.bottom_comon{//底部高度
  @media (min-width:1100px){
    height:3.4rem;
  }
  @media (max-width:1100px) and (min-width:900){
    height:4rem;
  }
}
.home{ //主页
  @media (min-width:1500px){
    .pro_item {
      width:14.93%;
      &:nth-child(6n){
        margin-right:0!important;
      }
      .item_img{
        width:1.8rem;height:1.8rem;
      }
    }
    .home_right{
      display: block;
    }
    .home_left{
      width:14rem;
    }
  }
  @media (max-width:1500px)and (min-width:1200px){
    .pro_item {
      width:18.35%;
      &:nth-child(5n){
        margin-right:0!important;
      }
      .item_img{
        width:2.2rem;height:2.2rem;
      }
    }
    .home_right{
      display: block;
    }
    .home_left{
      width:14rem;
    }
  }
  @media (max-width:1200px)and (min-width:900px){
    .pro_item {
      width:23.5%;
      &:nth-child(4n){
        margin-right:0!important;
      }
      .item_img{
        width:3rem;height:3rem;
      }
    }
    .home_right{
      display: block;
    }
    .home_left{
      width:14rem;
    }
  }
  @media (max-width:900px)and (min-width:600px){
    .pro_item {
      width:32%;
      &:nth-child(3n){
        margin-right:0!important;
      }
      .item_img{
        width:5rem;height:5rem;
      }
    }
    .home_right{
      display: none;
    }
    .home_left{
      width:100%;
      padding:0 0.05rem!important;
    }

  }
  
  @media (max-width:600px){
    .pro_item {
      width:48%;
      &:nth-child(2n){
        margin-right:0!important;
      }
      .item_img{
        width:7.8rem;height:7.8rem;
      }
    }
    .home_right{
      display: none;
    }
    .home_left{
      width:100%;
      padding:0 0.05rem!important;
    }
  }
}
.introduce{
  @media (min-width:1300px){
    .intr_duce{
      padding:1.05rem 3.41rem 1.6rem 3.45rem;
    }
  }
  @media (max-width:1300px) and (min-width:1180px){
    .intr_duce{
      padding:1.05rem 2.8rem 1.6rem 2.9rem;
    }
  }
  @media (max-width:1180px) and (min-width:1020px){
    .intr_duce{
      padding:1.05rem 2rem 1.6rem 2rem;
    }
  }
  @media (max-width:1020px) and (min-width:880px){
    .intr_duce{
      padding:1.05rem 1rem 1.6rem 1rem;
    }
    .floor1{
      .vip_card .item_box{
        width:49%!important;
      }
      .card_item{
        height:3.5rem!important;
        width:5rem!important;
      }
    }
  }
  @media(max-width:880px) and (min-width:600px){
    .intr_duce{
      padding:1.05rem 0 1.6rem 0;
    }
    .floor1{
      .vip_card .item_box{
        width:49%!important;
      }
      .card_item{
        height:4rem!important;
        width:80%!important;
      }
    }
  }
  @media(max-width:600px){
    .intr_duce{
      padding:1.05rem 0 1.6rem 0;
    }
    .floor1{
      .vip_card .item_box{
        width:100%!important;
      }
      .card_item{
        height:6rem!important;
        width:60%!important;
      }
    }
  }
  
}
.mine_vip{
  @media(min-width:1400px){
    padding:0 1.47rem 0 2.08rem;
    .mine_menu{
      width:2.42rem;
    }
    .profile,.change_pwd{
      .item_name{
        width:10%;
      }
      .input_box{
        width:2.5rem;
        height:0.35rem;
      }
    }
    .change_pwd{
      .pwd_name{
        width:15%
      }
    }
    
  }
  @media (max-width:1400px) and (min-width:1000px){
    .mine_menu{
      width:3rem;
    }
    .profile,.change_pwd{
      .item_name{
        width:12%;
      }
      .input_box{
        width:3rem;
        height:0.45rem;
      }
    }
    .change_pwd{
      .pwd_name{
        width:18%
      }
    }
    @media (max-width:1400px) and (min-width:1200px) {
      padding:0 1rem 0 1.58rem;
    }
    @media (max-width:1200px) and (min-width:1000px) {
      padding:0 0.5rem 0 1rem;
    }
  }
  @media (max-width:1000px) and (min-width:800px){
    padding:0 0.5rem 0 1rem;
    .mine_menu{
      width:4rem;
    }
    .profile,.change_pwd{
      .item_name{
        width:15%;
      }
      .input_box{
        width:4rem;
        height:0.5rem;
      }
    }
    .change_pwd{
      .pwd_name{
        width:20%
      }
    }
    
  }
  @media (max-width:800px) and (min-width:600px){
    padding:0 0.3rem 0 0.6rem;
    flex-direction: column;
    .mine_menu{
      display: none!important;
    }
    .mine_mobile{
      display: block!important;
    }
    .slider{
      height:0.2rem;
      background:#CCCCCC;
      margin-top:1rem;
    }
    .mine_box_right{
       margin-top:0.8rem; 
    }
    .profile,.change_pwd{
      .item_name{
        width:20%;
      }
      .input_box{
        width:5rem;
        height:0.6rem;
      }
    }
    .change_pwd{
      .pwd_name{
        width:30%
      }
    }
  }
  @media (max-width:600px){
    padding:0 0.3rem 0 0.6rem;
    flex-direction: column;
    .mine_menu{
      display: none!important;
    }
    .mine_mobile{
      display: block!important;
      .four_em_item{
        width:25%!important;
        margin-top:0.8rem;
      }
    }
    .slider{
      height:0.2rem;
      background:#CCCCCC;
      margin-top:1rem;
    }
    .mine_box_right{
       margin-top:0.8rem; 
    }
    .profile,.change_pwd{
      .item_name{
        width:20%;
      }
      .input_box{
        width:5rem;
        height:0.6rem;
      }
    }
    .change_pwd{
      .pwd_name{
        width:30%
      }
    }
  }
}
.requset{
  @media (max-width:1660px) and (min-width:800px){
    @media (max-width:1660px) and (min-width:1300px){
      .buy_now{
        width:1rem;
      }
    }
    @media (max-width:1300px) and (min-width:1100px){
      .buy_now{
        width:1.5rem!important;
        margin-top:0.3rem;
      }
      .item_right{
        flex-direction: column;
        align-items: center;
      }
    }
    @media (max-width:1100px) and (min-width:800px){
      .item_right{
        width:30%!important;
        flex-direction: column;
        align-items: center;
        margin-left:0.5rem!important;
      }
      .buy_now{
        margin-top:0.2rem;
        width:2rem!important;
      }
    }
    .item_submention{
      .desc_item_bototm{
        width:50%;
        margin-right:0!important;
        margin-top:0.1rem;
      }
    }
    .desc_long{
      width:80%!important;
    }
    .desc_shot{
      width:20%!important;
    }
  }
  @media (max-width:800px){
    @media (max-width:800px) and (min-width:620px){
      .buy_now{
        width:2.5rem!important;
      }
    }
    @media (max-width:620px){
      .buy_now{
        width:3.5rem!important;
      }
    }
    
    .quest_item,.quest_item_right{
      flex-direction: column!important;
      width:100%;
    }
    .quset_cen_ll{
      margin:0.3rem 0;
    }
    .right_quest{
      margin-top:0.5rem;
    }
    .quest_img{
      width:4rem!important;height:4rem!important;
    }
    .item_right{
      width:100%!important;
      margin-left:0!important;
      align-items: center;
      margin-top:0.5rem;
      justify-content: center!important;
      .buy_now{
        height:0.8rem!important;line-height: 0.8rem!important;
      }
      .mini_seze{
        display: flex;
        align-items: center;
        .mini_sese_center{
          margin:0 0.5rem;
        }
      }
    }
  }
}
.coupon{
  @media (min-width:1200px){
    .coupon_card{
      width:5.12rem;
      .conpon_main{
        height:3.3rem;
      }
    }
  }
  @media (min-width:900px) and (max-width:1200px){
    .coupon_card{
      width:7rem;
      .conpon_main{
        height:4rem;
      }
    }
  }
  @media (min-width:600px) and (max-width:900px){
    .coupon_card{
      width:8rem;
      .conpon_main{
        height:4.8rem;
      }
    }
  }
  @media(max-width:600px){
    .coupon_card{
      width:9rem;
      .conpon_main{
        height:5.5rem;
      }
    }
  }
}
//特殊公共手机端样式
@media (max-width:800px){
  .detail,.deal{
    padding:0 0.8rem!important;
  }
  .nav_show1{
    display: none!important;
  }
  .nav_show2{
    display: block!important;
  }
}