.deal_list {
  margin-top: 0.2rem;
  flex-wrap: wrap;
}
@media (max-width: 1100px) and (min-width: 800px) {
  .vip_info .card_item {
    width: 41%!important;
    height: 2.5rem !important;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  .vip_info .card_item {
    width: 40%!important;
    height: 2.5rem !important;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 600px) {
  .vip_info .card_item {
    width: 60%!important;
    height: 3.5rem !important;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 1400px) {
  .deal .pro_item {
    width: 2rem;
  }
  .deal .pro_item:nth-child(8n) {
    margin-right: 0!important;
  }
  .deal .pro_item .item_img {
    width: 1.7rem;
    height: 1.7rem;
  }
  .deal .show_pc {
    display: block;
  }
  .deal .show_mobile {
    display: none;
  }
}
@media (max-width: 1400px) and (min-width: 1100px) {
  .deal .pro_item {
    width: 15.4%;
  }
  .deal .pro_item:nth-child(6n) {
    margin-right: 0!important;
  }
  .deal .pro_item .item_img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .deal .show_pc {
    display: block!important;
  }
  .deal .show_mobile {
    display: none!important;
  }
}
@media (max-width: 1100px) and (min-width: 900px) {
  .deal .pro_item {
    width: 18.7%;
  }
  .deal .pro_item:nth-child(5n) {
    margin-right: 0!important;
  }
  .deal .pro_item .item_img {
    width: 3rem;
    height: 3rem;
  }
  .deal .show_pc {
    display: block!important;
  }
  .deal .show_mobile {
    display: none!important;
  }
}
@media (max-width: 900px) and (min-width: 700px) {
  .deal .pro_item {
    width: 23.6%;
  }
  .deal .pro_item:nth-child(4n) {
    margin-right: 0!important;
  }
  .deal .pro_item .item_img {
    width: 3.8rem;
    height: 3.8rem;
  }
  .deal .show_pc {
    display: block!important;
  }
  .deal .show_mobile {
    display: none!important;
  }
}
@media (max-width: 700px) and (min-width: 500px) {
  .deal .pro_item {
    width: 32%;
  }
  .deal .pro_item:nth-child(3n) {
    margin-right: 0!important;
  }
  .deal .pro_item .item_img {
    width: 5rem;
    height: 5rem;
  }
  .deal .show_pc {
    display: none!important;
  }
  .deal .show_mobile {
    display: block!important;
  }
}
@media (max-width: 500px) {
  .deal .show_pc {
    display: none!important;
  }
  .deal .show_mobile {
    display: block!important;
  }
  .deal .pro_item {
    width: 48%;
  }
  .deal .pro_item:nth-child(2n) {
    margin-right: 0!important;
  }
  .deal .pro_item .item_img {
    width: 8rem;
    height: 8rem;
  }
}
@media (min-width: 1400px) {
  .favoite .pro_item {
    width: 18.28%;
  }
  .favoite .pro_item:nth-child(5n) {
    margin-right: 0!important;
  }
  .favoite .pro_item .item_img {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 1400px) and (min-width: 1000px) {
  .favoite .pro_item {
    width: 23.28%;
  }
  .favoite .pro_item:nth-child(4n) {
    margin-right: 0!important;
  }
  .favoite .pro_item .item_img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (max-width: 1000px) and (min-width: 700px) {
  .favoite .pro_item {
    width: 31.8%;
  }
  .favoite .pro_item:nth-child(3n) {
    margin-right: 0!important;
  }
  .favoite .pro_item .item_img {
    width: 3.5rem;
    height: 3.5rem;
  }
}
@media (max-width: 700px) and (min-width: 500px) {
  .favoite .pro_item {
    width: 48%;
  }
  .favoite .pro_item:nth-child(2n) {
    margin-right: 0!important;
  }
  .favoite .pro_item .item_img {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 500px) {
  .favoite .pro_item {
    width: 48%;
  }
  .favoite .pro_item:nth-child(2n) {
    margin-right: 0!important;
  }
  .favoite .pro_item .item_img {
    width: 5rem;
    height: 5rem;
  }
  .favoite .clear_btn {
    height: 1rem!important;
    line-height: 1rem!important;
  }
}
@media (min-width: 1400px) {
  .detail .pro_item {
    width: 14.93%;
  }
  .detail .pro_item:nth-child(6n) {
    margin-right: 0!important;
  }
  .detail .pro_item .item_img {
    width: 1.8rem;
    height: 1.8rem;
  }
}
@media (max-width: 1400px) and (min-width: 1000px) {
  .detail .pro_item {
    width: 18.35%;
  }
  .detail .pro_item:nth-child(5n) {
    margin-right: 0!important;
  }
  .detail .pro_item .item_img {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 1000px) and (min-width: 800px) {
  .detail .pro_item {
    width: 23.38%;
  }
  .detail .pro_item:nth-child(4n) {
    margin-right: 0!important;
  }
  .detail .pro_item .item_img {
    width: 2.8rem;
    height: 2.8rem;
  }
  .detail .detail_head {
    flex-direction: column;
    align-items: center;
  }
  .detail .get_cou,
  .detail .detail_about,
  .detail .open_ama {
    margin: 0.15rem 0;
  }
  .detail .comments {
    width: 100%!important;
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  .detail .pro_item {
    width: 31.68%;
  }
  .detail .pro_item:nth-child(3n) {
    margin-right: 0!important;
  }
  .detail .pro_item .item_img {
    width: 3.6rem;
    height: 3.6rem;
  }
  .detail .comments {
    width: 100%!important;
  }
  .detail .detail_head {
    flex-direction: column;
    align-items: center;
  }
  .detail .get_cou,
  .detail .detail_about,
  .detail .open_ama {
    margin: 0.15rem 0;
  }
}
@media (max-width: 600px) {
  .detail .pro_item {
    width: 48.5%;
  }
  .detail .pro_item:nth-child(2n) {
    margin-right: 0!important;
  }
  .detail .pro_item .item_img {
    width: 5.8rem;
    height: 5.8rem;
  }
  .detail .detail_head {
    flex-direction: column;
    align-items: center;
  }
  .detail .get_cou,
  .detail .detail_about,
  .detail .open_ama {
    margin: 0.15rem 0;
  }
  .detail .detail_new_left {
    width: 60%!important;
    align-items: center;
  }
  .detail .comments {
    width: 100%!important;
  }
}
@media (min-width: 1100px) {
  .bottom_comon {
    height: 3.4rem;
  }
}
@media (max-width: 1100px) and (min-width: 900) {
  .bottom_comon {
    height: 4rem;
  }
}
@media (min-width: 1500px) {
  .home .pro_item {
    width: 14.93%;
  }
  .home .pro_item:nth-child(6n) {
    margin-right: 0!important;
  }
  .home .pro_item .item_img {
    width: 1.8rem;
    height: 1.8rem;
  }
  .home .home_right {
    display: block;
  }
  .home .home_left {
    width: 14rem;
  }
}
@media (max-width: 1500px) and (min-width: 1200px) {
  .home .pro_item {
    width: 18.35%;
  }
  .home .pro_item:nth-child(5n) {
    margin-right: 0!important;
  }
  .home .pro_item .item_img {
    width: 2.2rem;
    height: 2.2rem;
  }
  .home .home_right {
    display: block;
  }
  .home .home_left {
    width: 14rem;
  }
  .home .right_list_bottom {
    flex-direction: column!important;
    align-items: flex-start !important;
  }
}
@media (max-width: 1200px) and (min-width: 1000px) {
  .home .pro_item {
    width: 23.5%;
  }
  .home .pro_item:nth-child(4n) {
    margin-right: 0!important;
  }
  .home .pro_item .item_img {
    width: 3rem;
    height: 3rem;
  }
  .home .home_right {
    display: block;
  }
  .home .home_left {
    width: 14rem;
  }
  .home .right_list_bottom {
    flex-direction: column!important;
    align-items: flex-start !important;
  }
  .home .home_price_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1000px) and (min-width: 600px) {
  .home .pro_item {
    width: 32%;
  }
  .home .pro_item:nth-child(3n) {
    margin-right: 0!important;
  }
  .home .pro_item .item_img {
    width: 5rem;
    height: 5rem;
  }
  .home .home_right {
    display: none;
  }
  .home .home_left {
    width: 100%;
    padding: 0 0.05rem !important;
  }
}
@media (max-width: 600px) {
  .home .pro_item {
    width: 48%;
  }
  .home .pro_item:nth-child(2n) {
    margin-right: 0!important;
  }
  .home .pro_item .item_img {
    width: 7.8rem;
    height: 7.8rem;
  }
  .home .home_right {
    display: none;
  }
  .home .home_left {
    width: 100%;
    padding: 0 0.05rem !important;
  }
}
@media (min-width: 1300px) {
  .introduce .intr_duce {
    padding: 1.05rem 3.41rem 1.6rem 3.45rem;
  }
}
@media (max-width: 1300px) and (min-width: 1180px) {
  .introduce .intr_duce {
    padding: 1.05rem 2.8rem 1.6rem 2.9rem;
  }
}
@media (max-width: 1180px) and (min-width: 1020px) {
  .introduce .intr_duce {
    padding: 1.05rem 2rem 1.6rem 2rem;
  }
}
@media (max-width: 1020px) and (min-width: 880px) {
  .introduce .intr_duce {
    padding: 1.05rem 1rem 1.6rem 1rem;
  }
  .introduce .floor1 .vip_card .item_box {
    width: 49%!important;
  }
  .introduce .floor1 .card_item {
    height: 3.5rem !important;
    width: 5rem!important;
  }
}
@media (max-width: 880px) and (min-width: 600px) {
  .introduce .intr_duce {
    padding: 1.05rem 0 1.6rem 0;
  }
  .introduce .floor1 .vip_card .item_box {
    width: 49%!important;
  }
  .introduce .floor1 .card_item {
    height: 4rem!important;
    width: 80%!important;
  }
}
@media (max-width: 600px) {
  .introduce .intr_duce {
    padding: 1.05rem 0 1.6rem 0;
  }
  .introduce .floor1 .vip_card .item_box {
    width: 100%!important;
  }
  .introduce .floor1 .card_item {
    height: 6rem!important;
    width: 60%!important;
  }
}
@media (min-width: 1400px) {
  .mine_vip {
    padding: 0 1.47rem 0 2.08rem;
  }
  .mine_vip .mine_menu {
    width: 2.42rem;
  }
  .mine_vip .profile .item_name,
  .mine_vip .change_pwd .item_name {
    width: 10%;
  }
  .mine_vip .profile .input_box,
  .mine_vip .change_pwd .input_box {
    width: 2.5rem;
    height: 0.35rem;
  }
  .mine_vip .change_pwd .pwd_name {
    width: 15%;
  }
}
@media (max-width: 1400px) and (min-width: 1000px) {
  .mine_vip .mine_menu {
    width: 3rem;
  }
  .mine_vip .profile .item_name,
  .mine_vip .change_pwd .item_name {
    width: 12%;
  }
  .mine_vip .profile .input_box,
  .mine_vip .change_pwd .input_box {
    width: 3rem;
    height: 0.45rem;
  }
  .mine_vip .change_pwd .pwd_name {
    width: 18%;
  }
}
@media (max-width: 1400px) and (min-width: 1000px) and (max-width: 1400px) and (min-width: 1200px) {
  .mine_vip {
    padding: 0 1rem 0 1.58rem;
  }
}
@media (max-width: 1400px) and (min-width: 1000px) and (max-width: 1200px) and (min-width: 1000px) {
  .mine_vip {
    padding: 0 0.5rem 0 1rem;
  }
}
@media (max-width: 1000px) and (min-width: 800px) {
  .mine_vip {
    padding: 0 0.5rem 0 1rem;
  }
  .mine_vip .mine_menu {
    width: 4rem;
  }
  .mine_vip .profile .item_name,
  .mine_vip .change_pwd .item_name {
    width: 15%;
  }
  .mine_vip .profile .input_box,
  .mine_vip .change_pwd .input_box {
    width: 4rem;
    height: 0.5rem;
  }
  .mine_vip .change_pwd .pwd_name {
    width: 20%;
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  .mine_vip {
    padding: 0 0.3rem 0 0.6rem;
    flex-direction: column;
  }
  .mine_vip .mine_menu {
    display: none!important;
  }
  .mine_vip .mine_mobile {
    display: block!important;
  }
  .mine_vip .slider {
    height: 0.2rem;
    background: #CCCCCC;
    margin-top: 1rem;
  }
  .mine_vip .mine_box_right {
    margin-top: 0.8rem;
  }
  .mine_vip .profile .item_name,
  .mine_vip .change_pwd .item_name {
    width: 20%;
  }
  .mine_vip .profile .input_box,
  .mine_vip .change_pwd .input_box {
    width: 5rem;
    height: 0.6rem;
  }
  .mine_vip .change_pwd .pwd_name {
    width: 30%;
  }
}
@media (max-width: 600px) {
  .mine_vip {
    padding: 0 0.3rem 0 0.6rem;
    flex-direction: column;
  }
  .mine_vip .mine_menu {
    display: none!important;
  }
  .mine_vip .mine_mobile {
    display: block!important;
  }
  .mine_vip .mine_mobile .four_em_item {
    width: 25%!important;
    margin-top: 0.8rem;
  }
  .mine_vip .slider {
    height: 0.2rem;
    background: #CCCCCC;
    margin-top: 1rem;
  }
  .mine_vip .mine_box_right {
    margin-top: 0.8rem;
  }
  .mine_vip .profile .item_name,
  .mine_vip .change_pwd .item_name {
    width: 20%;
  }
  .mine_vip .profile .input_box,
  .mine_vip .change_pwd .input_box {
    width: 5rem;
    height: 0.6rem;
  }
  .mine_vip .change_pwd .pwd_name {
    width: 30%;
  }
}
@media (max-width: 1660px) and (min-width: 800px) {
  .requset .item_submention .desc_item_bototm {
    width: 50%;
    margin-right: 0!important;
    margin-top: 0.1rem;
  }
  .requset .desc_long {
    width: 80%!important;
  }
  .requset .desc_shot {
    width: 20%!important;
  }
}
@media (max-width: 1660px) and (min-width: 800px) and (max-width: 1660px) and (min-width: 1300px) {
  .requset .buy_now {
    width: 1rem;
  }
}
@media (max-width: 1660px) and (min-width: 800px) and (max-width: 1300px) and (min-width: 1100px) {
  .requset .buy_now {
    width: 1.5rem !important;
    margin-top: 0.3rem;
  }
  .requset .item_right {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1660px) and (min-width: 800px) and (max-width: 1100px) and (min-width: 800px) {
  .requset .item_right {
    width: 30%!important;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem !important;
  }
  .requset .buy_now {
    margin-top: 0.2rem;
    width: 2rem!important;
  }
}
@media (max-width: 800px) {
  .requset .quest_item,
  .requset .quest_item_right {
    flex-direction: column!important;
    width: 100%;
  }
  .requset .quset_cen_ll {
    margin: 0.3rem 0;
  }
  .requset .right_quest {
    margin-top: 0.5rem;
  }
  .requset .quest_img {
    width: 4rem!important;
    height: 4rem!important;
  }
  .requset .item_right {
    width: 100%!important;
    margin-left: 0!important;
    align-items: center;
    margin-top: 0.5rem;
    justify-content: center!important;
  }
  .requset .item_right .buy_now {
    height: 0.8rem !important;
    line-height: 0.8rem !important;
  }
  .requset .item_right .mini_seze {
    display: flex;
    align-items: center;
  }
  .requset .item_right .mini_seze .mini_sese_center {
    margin: 0 0.5rem;
  }
}
@media (max-width: 800px) and (max-width: 800px) and (min-width: 620px) {
  .requset .buy_now {
    width: 2.5rem !important;
  }
}
@media (max-width: 800px) and (max-width: 620px) {
  .requset .buy_now {
    width: 3.5rem !important;
  }
}
@media (min-width: 1200px) {
  .coupon .coupon_card {
    width: 5.12rem;
  }
  .coupon .coupon_card .conpon_main {
    height: 3.3rem;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .coupon .coupon_card {
    width: 7rem;
  }
  .coupon .coupon_card .conpon_main {
    height: 4rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .coupon .coupon_card {
    width: 8rem;
  }
  .coupon .coupon_card .conpon_main {
    height: 4.8rem;
  }
}
@media (max-width: 600px) {
  .coupon .coupon_card {
    width: 9rem;
  }
  .coupon .coupon_card .conpon_main {
    height: 5.5rem;
  }
}
@media (max-width: 800px) {
  .detail,
  .deal {
    padding: 0 0.8rem !important;
  }
  .nav_show1 {
    display: none!important;
  }
  .nav_show2 {
    display: block!important;
  }
}
