.mine_vip {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.mine_vip .img_ava {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 0.01rem solid red;
}
.mine_vip .mine_menu {
  margin-right: 0.49rem;
  display: block;
}
.mine_vip .mine_menu .mine_account {
  width: 100%;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  padding: 0.32rem 0 0.26rem 0;
  color: #ffffff;
}
.mine_vip .mine_mobile {
  display: none;
}
.mine_vip .mine_mobile .mine_account {
  background: #FF5E6D;
  color: #ffffff;
  padding: 0.5rem 0;
}
.mine_vip .mine_mobile .el_mobile_menu {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.mine_vip .mine_mobile .el_mobile_menu .four_em_item {
  width: 14.2%;
}
.profile .title,
.change_pwd .title,
.vip_info .title,
.favoite .title,
.requset .title {
  margin: 0.31rem 0 0 0.56rem;
}
.profile .confirm,
.change_pwd .confirm,
.vip_info .confirm,
.favoite .confirm,
.requset .confirm {
  color: #ffffff;
  width: 88px;
  height: 22px;
  line-height: 22px;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  margin: 0.6rem 0 0 1.56rem;
  font-size: 0.14rem;
}
.change_pwd .change_form {
  margin: 0.68rem 0 0 0.68rem;
}
.change_pwd .change_form .form_item {
  margin: 0.2rem 0;
}
.change_pwd .change_form .form_item .input_box {
  padding: 0 0.1rem;
  text-align: left;
  border: 1px solid #E4ECFA;
}
.profile .icon_rl {
  width: 14px;
  height: 15px;
}
.profile .icon_loc {
  width: 12px;
  height: 16px;
}
.profile .icon_edit {
  width: 35px;
  height: 35px;
}
.profile .icon_avatar {
  border: 1px solid red;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
.profile .file_form {
  margin: 0.59rem 0 0 0.68rem;
}
.profile .ava_flex {
  justify-content: center!important;
}
.profile .form_item {
  margin: 0.2rem 0;
}
.profile .form_item .item_name {
  text-align: left;
  font-size: 0.12rem;
}
.profile .form_item .item_right {
  padding: 0 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile .form_item .input_box {
  border: 1px solid #E4ECFA;
}
.profile .form_item input {
  flex: 1;
  font-size: 0.14rem;
}
.notice .img_icon {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.02rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice_item:nth-child(even) .img_icon {
  background: linear-gradient(135deg, #4dda46, #14ca36);
}
.notice .notice_item:nth-child(odd) .img_icon {
  background: linear-gradient(135deg, #fb7969, #ff5d6d);
}
.notice .img_icon .img1 {
  width: 0.47rem;
  height: 0.5rem;
}
.notice .img_icon .img2 {
  width: 0.46rem;
  height: 0.54rem;
}
.notice .img_icon .img3 {
  width: 0.39rem;
  height: 0.43rem;
}
.notice .content_notice {
  margin-left: 0.3rem;
}
.vip_info .vip_logo {
  width: 0.5rem;
  height: 0.43rem;
}
.vip_info .icon_up {
  width: 0.14rem;
  height: 0.14rem;
}
.vip_info .icon_cou {
  width: 0.43rem;
  height: 0.43rem;
}
.vip_info .pl56 {
  padding-left: 0.56rem;
}
.vip_info .date_time {
  color: #999999;
}
.vip_info .card_item {
  width: 31%;
  height: 1.56rem;
  border-radius: 0.14rem;
  box-shadow: 0 0.01rem 0.01rem 0.01rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.23rem;
}
.vip_info .card_item.active {
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  color: #ffffff !important;
}
.vip_info .card_item.active .date_time {
  color: #ffffff;
}
.vip_info .vip_list {
  margin-top: 1.29rem;
}
.vip_info .vip_list .list_head_nav {
  background: #586EDB;
  color: #ffffff;
  padding: 0.1rem 0;
}
.vip_info .vip_list .list_head_nav div {
  padding: 0 0.2rem;
  width: 16.6%;
}
.vip_info .vip_list .list_head_nav .nav_long {
  width: 20%;
}
.vip_info .vip_list .list_head_nav .border_left {
  border-left: 1px solid #ffffff;
}
.vip_info .vip_list .list_mian .list_item {
  padding: 0.15rem 0;
}
.vip_info .vip_list .list_mian .list_item:nth-child(even) {
  background: #edf0fe;
}
.vip_info .vip_list .list_mian .list_item div {
  padding: 0 0.2rem;
  width: 16.6%;
  font-size: 0.14rem;
}
.vip_info .vip_list .list_mian .list_item .nav_long {
  width: 25%;
}
.favoite .text_left {
  justify-content: space-between;
  align-items: center;
}
.favoite .clear_btn {
  color: #ffffff;
  padding: 0.05rem 0.2rem;
  box-sizing: content-box;
  text-align: center;
  height: 0.4rem;
  line-height: 0.4rem;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  margin-left: 0.2rem;
}
.favoite .elem_drop {
  border: 0.01rem solid #CCCCCC;
  padding: 0.1rem;
}
.requset .quset_list .quest_item {
  padding: 0.2rem;
  margin-top: 0.12rem;
  border-bottom: 1px solid #dbdbdb;
}
.requset .quset_list .quest_item .icon1 {
  width: 15px;
  height: 15px;
  margin-right: 0.05rem;
}
.requset .quset_list .quest_item .desc_item_bototm {
  margin-right: 0.1rem;
}
.requset .quset_list .quest_item .quest_img {
  width: 100px;
  height: 100px;
}
.requset .quset_list .quest_item .right_quest {
  height: 100px;
  justify-content: space-between;
}
.requset .quset_list .quest_item .buy_now {
  height: 0.36rem;
  line-height: 0.36rem;
  width: 1rem;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  color: #ffffff;
  border-radius: 0.04rem;
  font-size: 0.14rem;
}
.requset .quset_list .quest_item .item_right {
  width: 25%;
  margin-left: 1rem;
  justify-content: space-between;
}
