.mine_vip {
  margin-top: 0.5rem;
  padding: 0 1.47rem 0 2.08rem;
  display: flex;
  justify-content: space-between;
}
.mine_vip .mine_menu {
  width: 2.42rem;
  margin-right: 0.49rem;
}
.mine_vip .mine_menu .mine_account {
  width: 100%;
  height: 2.9rem;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  padding: 0.32rem 0 0.26rem 0;
  color: #ffffff;
}
.mine_vip .mine_menu .mine_account .img_ava {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 0.01rem solid red;
}
.profile .title,
.change_pwd .title,
.vip_info .title,
.favoite .title {
  margin: 0.31rem 0 0 0.56rem;
}
.profile .confirm,
.change_pwd .confirm,
.vip_info .confirm,
.favoite .confirm {
  color: #ffffff;
  width: 88px;
  height: 22px;
  line-height: 22px;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  margin: 0.6rem 0 0 1.56rem;
  font-size: 0.14rem;
}
.change_pwd .change_form {
  margin: 0.68rem 0 0 0.68rem;
}
.change_pwd .change_form .form_item {
  margin: 0.2rem 0;
}
.change_pwd .change_form .form_item input {
  border: 1px solid #E4ECFA;
  padding: 0 0.1rem;
  height: 0.3rem;
  line-height: 0.3rem;
}
.profile .icon_rl {
  width: 0.14rem;
  height: 0.15rem;
}
.profile .icon_loc {
  width: 0.12rem;
  height: 0.16rem;
}
.profile .icon_edit {
  width: 0.35rem;
  height: 0.35rem;
}
.profile .icon_avatar {
  border: 1px solid red;
  border-radius: 50%;
  width: 0.42rem;
  height: 0.42rem;
}
.profile .file_form {
  margin: 0.59rem 0 0 0.68rem;
}
.profile .ava_flex {
  justify-content: center!important;
}
.profile .form_item {
  margin: 0.2rem 0;
}
.profile .form_item .item_name {
  text-align: left;
  font-size: 0.12rem;
}
.profile .form_item .item_right {
  padding: 0 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile .form_item .input_box {
  border: 1px solid #E4ECFA;
}
.profile .form_item input {
  flex: 1;
  font-size: 0.14rem;
}
.notice .img_icon {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.02rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice_item:nth-child(even) .img_icon {
  background: linear-gradient(135deg, #4dda46, #14ca36);
}
.notice .notice_item:nth-child(odd) .img_icon {
  background: linear-gradient(135deg, #fb7969, #ff5d6d);
}
.notice .img_icon .img1 {
  width: 0.47rem;
  height: 0.5rem;
}
.notice .img_icon .img2 {
  width: 0.46rem;
  height: 0.54rem;
}
.notice .img_icon .img3 {
  width: 0.39rem;
  height: 0.43rem;
}
.notice .content_notice {
  margin-left: 0.3rem;
}
.vip_info .vip_logo {
  width: 0.5rem;
  height: 0.43rem;
}
.vip_info .icon_up {
  width: 0.14rem;
  height: 0.14rem;
}
.vip_info .icon_cou {
  width: 0.43rem;
  height: 0.43rem;
}
.vip_info .pl56 {
  padding-left: 0.56rem;
}
.vip_info .date_time {
  color: #999999;
}
.vip_info .card_item {
  width: 3.36rem;
  height: 1.56rem;
  border-radius: 0.14rem;
  box-shadow: 0 0.01rem 0.01rem 0.01rem rgba(0, 0, 0, 0.1);
  padding: 0.43rem 0.23rem 0.32rem 0.23rem;
}
.vip_info .card_item.active {
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  color: #ffffff !important;
}
.vip_info .card_item.active .date_time {
  color: #ffffff;
}
.favoite .text_left {
  justify-content: space-between;
  align-items: center;
}
.favoite .clear_btn {
  color: #ffffff;
  width: 1.4rem;
  text-align: center;
  height: 0.4rem;
  line-height: 0.4rem;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  margin-left: 0.2rem;
}
.favoite .elem_drop {
  border: 0.01rem solid #CCCCCC;
  padding: 0.1rem;
}
