.coupon {
  margin-top: 1.7rem;
  width: 100%;
}
.coupon .coupon_card .conpon_main {
  padding: 0.25rem 0.1rem;
  color: #ffffff;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  box-shadow: 0 0.02rem 0.08rem 0 #d0dcf0;
  width: 100%;
}
.coupon .icon_gou {
  width: 0.83rem;
  height: 0.83rem;
}
.coupon .more {
  margin-top: 0.8rem;
  color: #FD6A6C;
}
.coupon .coupon_btn {
  padding: 0.1rem 0.2rem;
  background: #ffffff;
  color: #FD6A6C;
}
.deal {
  padding: 0 0.5rem;
}
.deal .show_pc {
  display: block;
}
.deal .show_mobile {
  display: none;
}
.deal .reset {
  width: 15%;
}
.deal .line5 {
  margin-bottom: 0.22rem;
}
.deal .fh {
  margin: 0 0.1rem;
}
.deal .go_btn {
  color: #ffffff;
  background: #FD6A6C;
  line-height: 1.5;
  padding: 0 0.05rem;
  font-size: 0.14rem;
}
.deal .deal_head {
  font-size: 0.14rem;
  align-items: flex-start;
}
.deal .deal_head .input_uu {
  border: 0.01rem solid #DDDBDB;
}
.deal .deal_head .input_uu input {
  width: 0.84rem;
}
.deal .el_ify {
  font-size: 0.14rem;
  border: none;
}
.deal .el-drawer__open .el-drawer.rtl {
  width: 60%!important;
}
.deal .el-drawer__body {
  padding: 0.5rem;
}
.deal .el-drawer__body .deal_head,
.deal .el-drawer__body .el_column {
  flex-direction: column!important;
}
.deal .el-drawer__body .input_num {
  width: 2.5rem !important;
}
.deal .el-drawer__body .reset {
  width: 100%;
  text-align: left;
}
.deal .el-drawer__body .d2 {
  border-width: 0.2rem;
}
.deal .el-drawer__body .mt5 {
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ececec;
}
.detail {
  margin-top: 0.83rem;
  padding: 0 2.92rem;
}
.detail .detail_img {
  width: 4.6rem;
  height: 4.6rem;
}
.detail .detail_img img {
  width: 100%;
  height: 100%;
}
.detail .font22 {
  font-size: 0.22rem;
}
.detail .title {
  font-size: 0.22rem;
  line-height: 1.2;
}
.detail .icon_img {
  width: 11px;
  height: 11px;
  margin: 0 0.2rem;
}
.detail .get_cou {
  color: #ffffff;
  padding: 0.1rem 0.2rem;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
}
.detail .icon_bq {
  width: 0.16rem;
  height: 0.14rem;
}
.detail .pro_mention {
  padding: 0 0.2rem;
}
.detail .open_ama {
  padding: 0.1rem 0.2rem;
  color: #FD6A6C;
  border: 0.01rem solid #ff5e6d;
}
.detail .img_left,
.detail .img_right {
  background: #fff000;
  position: relative;
}
.detail .img_left {
  width: 4.6rem;
  height: 0.92rem;
}
.detail .img_right {
  width: 7.72rem;
  height: 0.92rem;
}
.detail .del_icon {
  position: absolute;
  width: 0.38rem;
  height: 0.38rem;
  right: 0;
  top: 0;
}
.detail .logo {
  width: 0.5rem;
  height: 0.5rem;
}
.detail .btn_sign {
  border-radius: 0.02rem;
  padding: 0.1rem 0.5rem;
  height: 0.32rem;
  line-height: 0.32rem;
  box-sizing: content-box;
}
.detail .sign_in {
  background: #eeeeee;
}
.detail .sign_up {
  color: #ffffff;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
}
.detail .comments {
  margin: 0.4rem auto;
  width: 12rem;
}
.detail .comments .title {
  padding: 0.1rem;
  color: #ffffff;
  background: #fb7a6a;
}
.detail .comments .list {
  padding: 0 0.7rem;
}
.detail .comments .list .coment_item {
  width: 100%;
  padding: 0.15rem 0;
  border-bottom: 0.01rem solid #DBDBDB;
}
.detail .comments .list .icon_face {
  width: 0.16rem;
  height: 0.16rem;
  margin-left: 0.1rem;
}
.detail .comments .list .item_time {
  margin-left: 1rem;
}
.detail .pro_ui {
  margin: 0.61rem 0 1.2rem 0;
}
.detail .tuijian {
  font-size: 0.24rem;
  text-align: left;
  margin-bottom: 0.1rem;
}
.detail .coment_menu {
  padding: 0 0.7rem;
}
.detail .coment_menu .avater {
  width: 0.42rem;
  height: 0.42rem;
  border-radius: 50%;
  border: 0.01rem solid #ececec;
}
.detail .coment_menu .com_input {
  border: 1px solid #E4ECFA;
  height: 0.7rem;
  width: 100%;
  margin-top: 0.3rem;
}
.detail .coment_menu .com_facegroup {
  width: 100%;
}
.detail .coment_menu .btn_post {
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  padding: 0 0.2rem;
  height: 0.38rem;
  line-height: 0.38rem;
  color: #ffffff;
}
.detail .coment_menu .img_box {
  width: 0.48rem;
  height: 0.48rem;
  margin-right: 0.36rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.detail .coment_menu .img_box.active {
  background: #FC746B;
}
.detail .coment_menu .icon_face1 {
  width: 0.3rem;
  height: 0.3rem;
}
.bottom_comon {
  width: 19.2rem;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  padding: 0.5rem 0rem;
  color: #ffffff;
}
.bottom_comon .concat_icon {
  width: 0.27rem;
  height: 0.09rem;
}
.bottom_comon .icon_icon {
  width: 0.3rem;
  height: 0.3rem;
  margin-left: 0.6rem;
}
.bottom_comon .cont_btn {
  background: #ffffff;
  border-radius: 0.23rem;
  width: 1.96rem;
  height: 0.46rem;
  justify-content: space-around;
}
.bottom_comon .ml10 {
  margin-left: 1rem;
}
.bottom_comon .copy_right {
  margin-top: 0.7rem;
}
.home .home_main {
  padding: 0 0.54rem 0 0.4rem;
  margin-top: 0.2rem !important;
  margin-bottom: 1rem!important;
  justify-content: space-between;
}
.home .home_main .home_left .see_more {
  color: #ffffff;
  padding: 0.1rem 0;
  background: #333333;
}
.home .home_main .home_right {
  width: 3.96rem;
}
.home .home_main .home_right .right_head {
  height: 4.01;
  width: 4.01rem;
}
.home .home_main .home_right .right_head img {
  width: 100%;
  height: 100%;
}
.home .home_main .home_right .right_list .right_item {
  margin-top: 0.2rem;
}
.home .home_main .home_right .right_list .right_item_img {
  width: 1.1rem;
  height: 1.1rem;
}
.home .home_main .home_right .right_list .com_icon {
  width: 0.11rem;
  height: 0.11rem;
}
.home .home_main .home_right .big_img_box {
  margin-top: 0.3rem;
  position: relative;
  width: 3.8rem;
  height: 3.8rem;
}
.home .home_main .home_right .big_img_box .big_pic {
  width: 100%;
  height: 100%;
}
.home .home_main .home_right .big_img_box .del_icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 0.38rem;
  height: 0.38rem;
}
.home .swiper-container .pro_item1 {
  padding: 0.13rem 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 0.14rem;
  position: relative;
}
.home .swiper-container .pro_item1 .item_mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 94, 109, 0.5);
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
.home .swiper-container .pro_item1 .get_coupon {
  border: 1px solid #ffffff;
  width: 60%;
  padding: 0.1rem 0;
}
.home .swiper-container .pro_item1 .item_img {
  width: 100%;
  height: auto;
}
.home .swiper-container .pro_item1 .item_money {
  color: #ff0000;
  font-size: 0.16rem;
  font-weight: bold;
}
.home .swiper-container .pro_item1 .item_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home .swiper-container .pro_item1 .item_title {
  width: 100%;
}
.home .swiper-container .pro_item1 .item_subtitle {
  margin: 0.06rem 0;
}
.home .swiper-container .pro_item1 .icon_zan {
  width: 11px;
  height: 11px;
}
.home .swiper-container .pro_item1 .icon_mes {
  width: 11px;
  height: 9px;
}
.home .swiper-container .pro_item1 .item_spill {
  padding: 0.01rem 0.05rem;
  background: #ff9900;
  border-radius: 0.03rem;
  color: #ffffff;
  font-size: 0.1rem;
  margin-left: 0.2rem;
}
.home .swiper-container .pro_item1:hover .item_mask {
  display: flex;
}
.introduce .intr_main .img_bg {
  width: 100%;
  height: 8rem;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
}
.introduce .intr_main .intr_duce .name_title {
  font-size: 0.42rem;
  font-weight: bold;
}
.introduce .intr_main .intr_duce .floor1 .vip_card {
  margin-top: 0.88rem;
}
.introduce .intr_main .intr_duce .floor1 .vip_card .item_box {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduce .intr_main .intr_duce .floor1 .vip_card .card_item {
  padding: 0.6rem 0 0.4rem 0;
  width: 4rem;
  height: 2.8rem;
  margin-top: 0.4rem;
  border-radius: 0.14rem;
  box-shadow: 0.01rem 0.01rem 0.1rem 0.01rem rgba(0, 0, 0, 0.1);
}
.introduce .intr_main .intr_duce .floor1 .vip_card .card_item .card_logo {
  width: 0.88rem;
  height: 0.75rem;
}
.introduce .intr_main .intr_duce .floor1 .vip_card .card_item.active {
  color: #ffffff;
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
}
.introduce .intr_main .intr_duce .floor1 .vip_card .card_item.active .get {
  display: none;
}
.introduce .intr_main .intr_duce .floor1 .vip_list {
  margin-top: 1.29rem;
}
.introduce .intr_main .intr_duce .floor1 .vip_list .list_head_nav {
  background: #586EDB;
  color: #ffffff;
  padding: 0.1rem 0;
}
.introduce .intr_main .intr_duce .floor1 .vip_list .list_head_nav div {
  padding: 0 0.2rem;
  width: 16.6%;
}
.introduce .intr_main .intr_duce .floor1 .vip_list .list_head_nav .nav_long {
  width: 20%;
}
.introduce .intr_main .intr_duce .floor1 .vip_list .list_head_nav .border_left {
  border-left: 1px solid #ffffff;
}
.introduce .intr_main .intr_duce .floor1 .vip_list .list_mian .list_item {
  padding: 0.15rem 0;
}
.introduce .intr_main .intr_duce .floor1 .vip_list .list_mian .list_item:nth-child(even) {
  background: #edf0fe;
}
.introduce .intr_main .intr_duce .floor1 .vip_list .list_mian .list_item div {
  padding: 0 0.2rem;
  width: 16.6%;
  font-size: 0.14rem;
}
.introduce .intr_main .intr_duce .floor1 .vip_list .list_mian .list_item .nav_long {
  width: 25%;
}
.introduce .intr_main .intr_duce .floor2 {
  margin-top: 1.49rem;
}
.introduce .intr_main .intr_duce .floor2 .how_btn {
  border-radius: 0.24rem;
  padding: 0.15rem 0.23rem;
  background: #ffffff;
  box-shadow: 0 0.05rem 0.1rem 0 #ebebec;
}
.introduce .intr_main .intr_duce .floor2 .how_btn.active {
  background: linear-gradient(135deg, #fb7a6a, #ff5e6d);
  color: #ffffff;
}
.introduce .intr_main .intr_duce .floor2 .icon_gwc {
  width: 0.7rem;
  height: 0.7rem;
}
.introduce .intr_main .intr_duce .floor2 .floor_img {
  width: 4.2rem;
  height: 3.23rem;
}
.introduce .intr_main .intr_duce .floor2 .gwc_floor {
  margin-top: 1.16rem;
  height: 3.23rem;
}
.introduce .intr_main .intr_duce .floor2 .gwc_floor .gwc_left {
  padding: 0.3rem 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.introduce .intr_main .intr_duce .floor3 {
  margin-top: 1.97rem;
}
.introduce .intr_main .intr_duce .floor3 .fl3_item {
  width: 30%;
}
.introduce .intr_main .intr_duce .floor3 .fl3_item .img_fl3 {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introduce .intr_main .intr_duce .floor3 .fl3_item .c3_icon {
  width: 0.92rem;
  height: 1rem;
}
.introduce .intr_main .intr_duce .floor3 .fl3_item .c2_icon {
  width: 0.9rem;
  height: 0.9rem;
}
.introduce .intr_main .intr_duce .floor3 .fl3_item .c1_icon {
  width: 0.96rem;
  height: 0.74rem;
}
.introduce .intr_main .intr_duce .floor3 .fl3_item .desc {
  line-height: 1.5;
}
