//优惠券
.coupon{
  margin-top:1.7rem;
  .coupon_card{
    width:5.12rem;
    .conpon_main{
      padding:0.25rem 0.1rem;
      color:#ffffff;
      background:linear-gradient(135deg,rgba(251,122,106,1),rgba(255,94,109,1));
      box-shadow:0 0.02rem 0.08rem 0 rgba(208,220,240,1);
      height:3.30rem;
      width:100%
    }
  }
  .icon_gou{
    width:0.83rem;height:0.83rem;
  }
  .more{
    margin-top:0.8rem;
    color:#FD6A6C
  }
  .coupon_btn{
    width:2.6rem;
    height:0.38rem;line-height: 0.38rem;
    background:rgba(255,255,255,1);
    color:#FD6A6C
  }
}
//产品分类
.deal{
  padding:0 0.5rem;
  .reset{
    width:15%;
  }
  .line5{
    margin-bottom:0.22rem;
  }
  .deal_head{
    font-size:0.14rem;
    align-items: flex-start;
    .fh{
      margin:0 0.1rem;
    }
    .go_btn{
      color:#ffffff;
      background:#FD6A6C;
      line-height:1.5;
      padding:0 0.05rem;
      font-size:0.14rem;
    }
    .input_uu{
      border:0.01rem solid #DDDBDB;
      input{
        width:0.84rem;
      }
    }
  }
}
//产品详情
.detail{
  margin-top:0.83rem;
  padding:0 2.92rem;
  .detail_img{
    width:4.6rem;height:4.6rem;
    border:1px solid red;
    img{
      width:100%;height:100%;
      
    }
  }
  .font22{
    font-size:0.22rem;
  }
  .title{
    font-size:0.22rem;
    line-height: 1.2;
  }
  .icon_img{
    width:0.11rem;height:0.11rem;margin:0 0.1rem;
  }
  .get_cou{
    color:#ffffff;
    line-height: 0.49rem;;
    width:2.41rem;
    height:.49rem;
    background:linear-gradient(135deg,rgba(251,122,106,1),rgba(255,94,109,1));
  }
  .icon_bq{
    width:0.16rem;height:0.14rem;
  }
  .pro_mention{
    padding:0 0.2rem;
  }
  .open_ama{
    padding:0.1rem 0.2rem;
    color:#FD6A6C;
    border:0.01rem solid rgba(255,94,109,1);
  }
  .img_left,.img_right{
    background: #fff000;
    position: relative;
  }
  .img_left{
    width:4.6rem;
    height:0.92rem;
  }
  .img_right{
    width:7.72rem;
    height:0.92rem;
  }
  .del_icon{
    position: absolute;
    width:0.38rem;height:0.38rem;
    right:0;top:0;
  }
  .logo{
    width:0.5rem;height:0.5rem;
  }
  .btn_sign{
    border-radius:0.02rem;
    padding:0rem 0.5rem;
    height: 0.32rem;
    line-height: 0.32rem;
  }
  .sign_in{
    background:rgba(238,238,238,1);
  }
  .sign_up{
    color:#ffffff;
    background:linear-gradient(135deg,rgba(251,122,106,1),rgba(255,94,109,1));
  }
  .comments{
    margin:0.4rem auto;
    width:12rem;
    .title{
      padding:0.1rem;
      color:#ffffff;
      background: rgba(251,122,106,1);
    }
    .list{
        padding:0 0.7rem;
        .coment_item{
            width:100%;
            padding:0.15rem 0;
            border-bottom:0.01rem solid #DBDBDB;
        }
        .icon_face{
          width:0.16rem;height:0.16rem;
          margin-left:0.1rem;
        }
        .item_time{
          margin-left:1rem;
        }
    }
  }
  .pro_ui{
    margin:0.61rem 0 1.2rem 0;
  }
  .tuijian{
    font-size:0.24rem;
    text-align: left;
    margin-bottom: 0.1rem;
  }
  .coment_menu{
    padding: 0 0.7rem;
    .avater{
      width:0.42rem;height:0.42rem;
      border-radius: 50%;
      border:0.01rem solid #ececec
    }
    .com_input{
      border:1px solid #E4ECFA;
      height:.7rem;
      width:100%;
      margin-top:0.3rem;
    }
    .com_facegroup{
      width:100%;
    }
    .btn_post{
      background:linear-gradient(135deg,rgba(251,122,106,1),rgba(255,94,109,1));
      padding:0 0.2rem;
      height:0.38rem;line-height: 0.38rem;
      color:#ffffff;
    }
    .img_box{
      width:0.48rem;height:0.48rem;
      margin-right:0.36rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &.active{
        background: #FC746B;
      }
    }
    .icon_face1{
      width:0.3rem;height:0.3rem;
    }
  }
}
//公共底部
.bottom_comon{
  width:19.2rem;
  background:linear-gradient(135deg,rgba(251,122,106,1),rgba(255,94,109,1));
  padding:0.5rem 0rem;
  color:#ffffff;
  .concat_icon{
    width:0.27rem;height:0.09rem;
  }
  .icon_icon{
    width:0.3rem;height:0.3rem;
    margin-left:0.6rem;
  }
  .cont_btn{
    background:#ffffff;
    border-radius:0.23rem;
    width:1.96rem;
    height:0.46rem;
    justify-content: space-around;
  }
  .ml10{
    margin-left:1rem;
  }
  .copy_right{
    margin-top:0.7rem;
  }
}
//首页内容
.home{
  border:1px solid red;
  .home_main{
    padding:0 0.54rem 0 0.4rem;
    margin-top:0.2rem;
    justify-content: space-between;
    .home_left{
      border:1px solid blue;
      width:14rem;
    }
    .home_right{
      border:1px solid blue;
      width:3.96rem;
      .right_head{
        height:4.01;width:4.01rem;
        img{
          width:100%;height:100%;
        }
      }
    }
  }
}

//组件产品共用
.home{
  .swiper-container{
    .pro_item{
      padding:0.13rem 0.15rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items:center;
      font-size:0.14rem;
      position: relative;
      border:1px solid blue;
    }
    .pro_item:hover .item_mask{
      display: flex;
    }
    .item_mask{
      display: none;
      position: absolute;
      top:0;
      left:0;
      width:100%;height:100%;
      background:rgba(255,94,109,0.5);
      flex-direction: column;
      color:#ffffff;
      align-items: center;
      justify-content: center;
    }
    .get_coupon{
      border:1px solid #ffffff;
      width:60%;
      padding:0.1rem 0;
    }
    .item_img{
      width:2rem;height:2rem;
      border:1px solid red;
    }
    .item_money{
      color:#ff0000;
      font-size:0.16rem;
      font-weight:bold;
    }
    .item_main{
      width:100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .item_title{
      width:100%;
    }
    .item_subtitle{
      margin:0.06rem 0;
    }
    .icon_zan{
      width:11px;height: 11px;
    }
    .icon_mes{
      width:11px;height: 9px;
    }
    .item_spill{
      padding:0.01rem 0.05rem;
      background:rgba(255,153,0,1);
      border-radius:0.03rem;
      color:#ffffff;
      font-size:0.10rem;
      margin-left:0.2rem;
    }
  }
}
