//优惠券
.coupon{
  margin-top:1.7rem;
  .coupon_card{
    width:5.12rem;
    .conpon_main{
      padding:0.25rem 0.1rem;
      color:#ffffff;
      background:linear-gradient(135deg,rgba(251,122,106,1),rgba(255,94,109,1));
      box-shadow:0 0.02rem 0.08rem 0 rgba(208,220,240,1);
      height:3.30rem;
      width:100%
    }
  }
  .icon_gou{
    width:0.83rem;height:0.83rem;
  }
  .more{
    margin-top:0.8rem;
    color:#FD6A6C
  }
  .coupon_btn{
    width:2.6rem;
    height:0.38rem;line-height: 0.38rem;
    background:rgba(255,255,255,1);
    color:#FD6A6C
  }
}
//产品分类
.deal{
  padding:0 0.5rem;
  .reset{
    width:15%;
  }
  .line5{
    margin-bottom:0.22rem;
  }
  .deal_head{
    font-size:0.14rem;
    align-items: flex-start;
    .fh{
      margin:0 0.1rem;
    }
    .go_btn{
      color:#ffffff;
      background:#FD6A6C;
      line-height:1.5;
      padding:0 0.05rem;
      font-size:0.14rem;
    }
    .input_uu{
      border:0.01rem solid #DDDBDB;
      input{
        width:0.84rem;
      }
    }
  }
  .deal_list{
    margin-top:0.2rem;
    border:1px solid red;
    flex-wrap: wrap;
  }
  @media (min-width:1400px){
    .pro_item {
      width:2rem;
      &:nth-child(8n){
        margin-right:0!important;
      }
      .item_img{
        width:1.7rem;height:1.7rem;
      }
    }
  }
  @media (max-width:1400px)and (min-width:1100px){
    .pro_item {
      width:15.4%;
      &:nth-child(6n){
        margin-right:0!important;
      }
      .item_img{
        width:2.5rem;height:2.5rem;
      }
    }
  }
  @media (max-width:1100px)and (min-width:900px){
    .pro_item {
      width:18.7%;
      &:nth-child(5n){
        margin-right:0!important;
      }
      .item_img{
        width:3rem;height:3rem;
      }
    }
  }
  @media (max-width:900px)and (min-width:700px){
    .pro_item {
      width:23.6%;
      &:nth-child(4n){
        margin-right:0!important;
      }
      .item_img{
        width:3.8rem;height:3.8rem;
      }
    }
  }
  @media (max-width:700px) and (min-width:500px){
    .pro_item {
      width:32%;
      &:nth-child(3n){
        margin-right:0!important;
      }
      .item_img{
        width:5rem;height:5rem;
      }
    }
  }
  @media (max-width:500px){
    .pro_item {
      width:48%;
      &:nth-child(3n){
        margin-right:0!important;
      }
      .item_img{
        width:8rem;height:8rem;
      }
    }
  }
}